.menu-heading-div{
    border: 1px solid white;
    text-align: center;
}
.menu-product_colletion-div
{
    padding: 10px;

}
.waffers-section
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    /* border: 1px solid white; */
    display: flex;           /* Ensure the items are in a row */
    overflow-x: auto;        /* Enable horizontal scrolling */
    gap: 1vw;                /* Add spacing between cards (optional) */
    scroll-snap-type: x mandatory; /* Optional: Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS devices */
    scrollbar-width: none;

}
.waffers-section-parent
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */


}
.waffers-section-name
{
    margin: 1vw;
}