/* product card */
.card{
    
    border-radius: 5px;
    padding: 1vw;
    height: 25vw;
    min-width: 20vw;
    background-color: rgb(208, 219, 212);
    color: black;
}
.product-img{
    height: 55%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image{
    width: 8vw;

}
.product-name{
    height: 15%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.product-info{
    height: 15%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-add{
    height: 15%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton{
    height: 2.5vw;
    width: 5vw;
    font-size: medium;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 3px;
    background-color:transparent;
}
.addButton:hover{
    /* border:2px solid blue; */
    /* color: blue; */
    background-color: orangered;
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px orangered;
}
/* making it responsive */
@media screen and (max-width:480px) {
    .card{
    
        border-radius: 5px;
        padding: 1vw;
        height: 35vw;
        min-width: 30vw;
        background-color: rgb(208, 219, 212);
        color: black;
    }
    .product-image{
        width: 12vw;
        height: 15vw;
        object-fit: cover;
    }
    .product-name{
    font-size: 10px;


        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .product-info{
        font-size: 10px;
        /* border: 1px solid black; */
       
    }
    .addButton{
        height:15px;
        width: 50px;
        font-size: medium;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 3px;
        background-color:transparent;
        font-size: 10px;
    }

}
@media screen and (min-width:481px) and (max-width:621px) 
{
    .card{
    
        border-radius: 5px;
        padding: 1vw;
        height: 40vw;
        min-width: 35vw;
        background-color: rgb(208, 219, 212);
        color: black;
    }
    .product-image{
        width: 15vw;
        height: 18vw;
        object-fit: cover;
    
    }
    .product-name{
    font-size: 16px;

        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .product-info{
        font-size: 16px;
        /* border: 1px solid black; */
       
    }
    .addButton{
        height:25px;
        width: 80px;
        font-size: medium;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 3px;
        background-color:transparent;
        font-size: 14px;
    }

   

}


@media screen and (min-width:622px) and (max-width:950px) {
    .card{
    
        border-radius: 5px;
        padding: 1vw;
        height: 40vw;
        min-width: 35vw;
        background-color: rgb(208, 219, 212);
        color: black;
    }
    .product-image{
        width: 15vw;
        height: 18vw;
        object-fit: cover;
    
    }
    .product-name{
    font-size: 18px;

        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .product-info{
        font-size: 18px;
        /* border: 1px solid black; */
       
    }
    .addButton{
        height:30px;
        width: 100px;
        font-size: medium;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 3px;
        background-color:transparent;
        font-size: 16px;
    }

}   


@media screen and (min-width:951px) and (max-width:1200px) {
    .content-container{
       
        font-size: 25px;
        
    }
    .ProceedButton{
        /* display: none; */
        min-height: 30px;
        font-size: 18px;  
    }
}   
@media screen and (min-width:1201px) and (max-width:1400px)
{
    .content-container{
       
        font-size: 25px;
        
    }
    .ProceedButton{
        /* display: none; */
        min-height: 30px;
        font-size: 18px;  
    }

}